<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom bg-green ">
      <h6 class="display-6 footer-text text-center">&copy; Copyright <%= new Date().getFullYear() %>. All Rights reserved.</h6>
    </nav>
  </footer>