<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container about">
    
      <h1 class="display-4">About</h1>

      <div class="content">
        <div class="pics"><img src="/Assets/DSC_0024a.jpg" /></div>
        <div class="name">Che Kei, Cheung</div>
        <div class="description"><p>I am working for program developement for years. Projects using php, c# and java.</p></div>

        <a href="/pdf/resume.pdf">Download my resume</a>
      </div>

      
   
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




