<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container projects">

  <!-- Section title-->
  <h1 class="pagetitle">Projects</h1>
  
  <!-- Project listing-->
  <div class="content description">
    <div class="row">
      <div class="col-4 project">
        <div class="pics roundimg"><img src="/Assets/projects/project1.jpg" class="img-fluid"  /></div>
        <div class="name">Donation campaign website</div>
        <div class="description"><p>It is a campaign website to ask for charity donation. The website is developed using wordpress. I am response to the frontend production and also wordpress setup and customization.</p></div>
      </div>

      <div class="col-4 project">
        <div class="pics roundimg"><img src="/Assets/projects/project2.jpg" class="img-fluid" /></div>
        <div class="name">Jewellery enquiry cart</div>
        <div class="description"><p>It is an enquiry cart website developed using larvel. I am response for the system design and also both frontend and backend production.</p></div>
      </div>

      <div class="col-4 project">
        <div class="pics roundimg"><img src="/Assets/projects/project3.jpg" class="img-fluid"  /></div>
        <div class="name">Runner app</div>
        <div class="description"><p>It is a Mobile application developed using react native. I am response for the app developement and also backend api implementation.</p></div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 project">
        <div class="pics roundimg"><img src="/Assets/projects/project4.jpg" class="img-fluid"  /></div>
        <div class="name">Art gallery website</div>
        <div class="description"><p>It is website running using liferay. I am response to frontend production and also cms entity setup.</p></div>
      </div>

      <div class="col-4 project">
        <div class="pics roundimg"><img src="/Assets/projects/project5.jpg" class="img-fluid"  /></div>
        <div class="name">Company website</div>
        <div class="description"><p>It is a website runing using durpal. I am response to whole site production both front and backend.</p></div>
      </div>

    </div>
  </div>
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




