<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container about">

  <!-- Section header-->
  <h1 class="pagetitle">About</h1>

  <!-- Body text-->
  <div class="content description">
    <div class="pics"><img src="/Assets/DSC_0024a.jpg" /></div>
    <div class="name">Che Kei, Cheung</div>
    <div class="description">
      <p>I worked in IT industry for years. Duty of my pervious jobs were repsonsible to design, develope of solition in different kind main on website application and mobile application developement. I am capable of developing solutions by using react nactive, php, c# and java.</p>
      <p>You can download my resume for more details.</p>
    </div>

    <a href="/pdf/resume.pdf" target="_blank">Download my resume</a>
  </div>
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




