<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container homepage">

  <!-- Section title-->
  <h1 class="pagetitle">Hello !!</h1>

  <!-- Body text-->
  <div class="content row">
    <div class="col-8 sm-2 col-md-offset-2">
      <p>My name is Che Kei, Cheung welcome to access this website. I worked for IT for years. You can know more about me in following section:</p>
    </div>
  </div>

  <!-- Links to other page-->
  <div class="links">
    <div class="row row-cols-2">
      <div class="col-sm-6 border bg-light "><a href="/about"><span>About</span></a></div>
      <div class="col-sm-6 border bg-light "><a href="/projects"><span>Projects</span></a></div>
    </div>

    <div class="row row-cols-2">
      <div class="col-sm-6 border bg-light "><a href="/services"><span>Services</span></a></div>
      <div class="col-sm-6 border bg-light "><a href="/contact"><span>Contact</span></a></div>
    </div>
  </div>   
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




