<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container contacts">

  <!-- Section title-->
  <h1 class="pagetitle">Login</h1>
  
  
  <div class="content">
    <div class="row">
     

      <!-- Form and content text-->
      <div class="col-8">
        
        <form>
          <div class="row">
            <div class=""><label>Username</label></div>
            <div class=""><input type="text" id="name" class="field form-control" /></div>
          </div>

          <div class="row">
            <div><label>Password</label></div>
            <div><input type="password" id="password" class="field form-control" /></div>
          </div>

        

          <div class="row">
            <div><input type="button" class="btn btn-primary" value="Login" id="loginform" /></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




