<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!-- Main Content -->
<main class="container services">

  <!-- Section title-->
  <h1 class="pagetitle">Services </h1>
  
  <!-- List of services-->
  <div class="content description">
    <div class="row">
      <p>I am able to provide following services:</p>
    </div>

    <div class="listing ">
      <div class="row">
        <div class="col-4">
          <div class="roundimg">
            <img src="/Assets/services/christopher-gower-m_HRfLhgABo-unsplash.jpg" class="img-fluid" />
          </div>
          <!-- Free image feom unsplash.com  -->
        </div>

        <div class="col-8">
          <h6>Web development</h6>
          <ul>
            <li>Classic php developement</li>
            <li>Wordpress setup install and modeule customization</li>
            <li>Durpal setup install and modeule customization</li>
            <li>Larvel</li>
            <li>Front end developement by using react, vue</li>
            <li>Jquery and classic javascript front end development</li>
            <li>C#, asp.net</li>
            <li>JSP</li>
            <li>Next.js</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h6>General development</h6>
          <ul>
            <li>Flash game</li>
            <li>Desktop application</li>
          </ul>
        </div>

        <div class="col-4">
          <div class="roundimg">
            <img src="/Assets/services/desola-lanre-ologun-IgUR1iX0mqM-unsplash.jpg" class="img-fluid" />
          </div>
          <!-- Free image feom unsplash.com  -->
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="roundimg">
            <img src="/Assets/services/app.jpg" class="img-fluid" />
          </div>
          <!-- Free image feom unsplash.com  -->
        </div>

        <div class="col-8">
          <h6>Mobile development</h6>
          <ul>
            <li>Object C, swift</li>
            <li>Android, Flutter</li>
            <li>Cordova</li>
            <li>React native</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h6>Others</h6>
          <ul>
            <li>SEO implation</li>
            <li>Linux server set up</li>
            <li>AWS service setup </li>
            <li>Networking</li>
            <li>Project management</li>
          </ul>
        </div>

        <div class="col-4">
          <div class="roundimg">
            <img src="/Assets/services/firmbee-com-eMemmpUojlw-unsplash.jpg" class="img-fluid" />
          </div>
          <!-- Free image feom unsplash.com  -->
        </div>

      </div>
    </div>
  </div>  
</main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




